.ipynb_checkpoints/
.vscode/
dataset/horse2zebra.zip
dataset/horse2zebra/
dataset/summer2winter_yosemite/
dataset/cat&dog/
dataset/cat2dog/
dataset/cat2dog_clean/
dataset/summer2winter_yosemite.zip
dataset/vangogh2photo/
dataset/man2woman/
models/
output/
src/src.tar.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
src/__pycache__/
